<fieldset class="form-list">
    <?php $_code=$this->getMethodCode() ?>
    <ul id="payment_form_<?php echo $_code; ?>" style="display:none">
        <li>
            <script type="text/javascript">
                var grandTotal = "<?php echo $this->helper('checkout/cart')->getQuote()->getGrandTotal(); ?>";
                if (typeof(vb) != 'undefined') {
                    if (vb.isLow(grandTotal) || vb.isHigh(grandTotal)) {
                        var label = $('p_method_epay_viabill').up('dt').down('label');
                        label.innerHTML = '<div class="ViaBill_pricetag_payment" style="display:inline-flex;"price="' + grandTotal + '" >'+ label.innerHTML+'</div>';
                    }
                    vb.init();
                } else {
                    Event.observe(window, 'load', function() {
                        if (typeof(vb) != 'undefined') {
                            if (vb.isLow(grandTotal) || vb.isHigh(grandTotal)) {
                                var label = $('p_method_epay_viabill').up('dt').down('label');
                                label.innerHTML = '<div class="ViaBill_pricetag_payment" style="display:inline-flex;"price="' + grandTotal + '" >'+ label.innerHTML+'</div>';
                            }
                        }
                    });
                }
            </script>

            <?php if ($description = $this->getDescription()): ?>
                <?php echo $description; ?>
                <?php if($this->isShowIcon()): ?>
                    <img alt="viabill" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . 'viabill/viabill.png' ?>"/>
                <?php endif; ?>
            <?php endif; ?>
        </li>
    </ul>
</fieldset>
