<?php
/**
 * Copyright ePay | Dit Online Betalingssystem, (c) 2010.
 *
 * This program is free software. You are allowed to use the software but NOT allowed to modify the software.
 * It is also not legal to do any changes to the software and distribute it in your own name / brand.
 */
//
// Load the epay standard object
//
$standard = Mage::getModel('epay/standard');

//
// Fetch order invoice info
//
$order = Mage::getModel('sales/order');
$order->loadByIncrementId($standard->getCheckout()->getLastRealOrderId());
$convertor = Mage::getModel('sales/convert_order');

$accepturl = Mage::getUrl('epay/standard/success', array('_nosid' => true));
$cancelurl = Mage::getUrl('epay/standard/cancel', array('_nosid' => true));
$callbackurl = Mage::getUrl('epay/standard/callback', array('_nosid' => true));

$windowId = $standard->getConfigData('windowid', $order ? $order->getStoreId() : null);
//
// Go on and load the payment form containing the values
//
$params = array('encoding' => "UTF-8",
    'cms' => "magento",
    'windowstate' => "3",
    'merchantnumber' => $standard->getConfigData('merchantnumber', $order ? $order->getStoreId() : null),
    //'windowid' => $windowId?$windowId:1,
    'amount' => ((float)$order->getBaseTotalDue()) * 100,
    'currency' => $order->getBaseCurrency()->getCode(),
    'orderid' => $standard->getCheckout()->getLastRealOrderId(),
    'accepturl' => $accepturl,
    'cancelurl' => $cancelurl,
    'paymenttype' => "23",
    'paymentcollection' => "7",
    'lockpaymentcollection' => "1",
    'redirectpaymenttype' => "1",
    'callbackurl' => $callbackurl,
    'mailreceipt' => $standard->getConfigData('authmail', $order ? $order->getStoreId() : null),
    'smsreceipt' => $standard->getConfigData('authsms', $order ? $order->getStoreId() : null),
    'instantcapture' => $standard->getConfigData('instantcapture', $order ? $order->getStoreId() : null),
    'group' => $standard->getConfigData('group', $order ? $order->getStoreId() : null),
    'language' => $standard->calcLanguage(Mage::app()->getLocale()->getLocaleCode()),
    'ownreceipt' => $standard->getConfigData('ownreceipt', $order ? $order->getStoreId() : null),
    'timeout' => "1440",
);
if($standard->getConfigData('enableinvoicedata', $order ? $order->getStoreId() : null) == '1') {
    $params['invoice'] = $standard->getOrderInJson($order);
}
?>
<script type="text/javascript">
    function PaymentWindowReady()
    {
        paymentwindow = new PaymentWindow({
            <?php
                foreach ($params as $key => $value)
                {
                    echo "'" . $key . "': \"" . $value . "\",\n";
                }
            ?>
            'hash': "<?php echo md5(implode("", array_values($params)) . $standard->getConfigData('md5key', $order ? $order->getStoreId() : null)); ?>"
        });

        paymentwindow.open();
    }
</script>
<script type="text/javascript" src="https://ssl.ditonlinebetalingssystem.dk/integration/ewindow/paymentwindow.js" charset="UTF-8"></script>

<h1><?php echo $this->__('EPAY_LABEL_5') ?></h1>
<?php echo $this->__('EPAY_LABEL_32') ?>
<br /><br />
<table border="0">
    <tr>
        <td>
            <label for="Orderid"><?php echo $this->__('EPAY_LABEL_7') ?> :</label>
        </td>
        <td>
        <label for="Orderid"><?php echo $standard->getCheckout()->getLastRealOrderId() ?></label>
    </td>
    </tr>
    <tr>
        <td>
            <label for="Amount"><?php echo $this->__('EPAY_LABEL_8') ?> :</label>
        </td>
        <td>
        <label for="CurrencyAmount"><?php echo $order->getBaseCurrency()->getCode() ?>&nbsp;<?php echo number_format($order->getBaseTotalDue(), 2, ',', ' ') ?></label>
    </td>
    </tr>
    <tr>
        <td colspan="2">
            <br>
            <input type="button" value="<?php echo $this->__('EPAY_LABEL_35') ?>" onclick="javascript: paymentwindow.open();"> <br><br>
            <br />
            <?php echo $this->__('EPAY_LABEL_33') ?> <br><br>
            <br />
            <input name="paymentCancel" id="paymentCancel" value="<?php echo $this->__('EPAY_LABEL_100') ?>" type="button" class="form-button-alt" onclick="javascript:location='<?php echo $cancelurl; ?>'" />
        </td>
    </tr>
</table>